<div class="panel panel-default">
 <%=link_to 'Back To Inbox', conversations_path, class: 'btn btn-link ml-2 p-2' %>

 <% @messages.each do |message| %>
  <%if message.body %>
   <% user = User.find(message.user_id) %>
      <div class="panel-heading">
        <div class="header ml-3">
          <strong><%= user.email %></strong><%= message.message_time %>
        </div>
        <div class="list ml-4 p-2">
          <%= message.body %>
        </div>
      </div>
  <%end%>
 <%end%>

  <div class="col-md-6">
    <%= form_with model: [@conversation, @message] do |f| %>
      <div class="form-group">
        <%= f.text_area :body, class: "form-control" %>
        <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
      </div>
      <div class="form-group">
        <%= f.submit "Send Reply", class: "form-control btn btn-primary" %>
      </div>
    <%end%>
  </div>
</div>