<%=form_with model: @listing, local: true do |f|%>

  <div class='form-group mb-3'> 
    <%=f.label :title, class: "form-label"%>
    <%=f.text_field :title%>
  </div>
  
  <div class='form-group mb-3'> 
    <%=f.label :price, class: "form-label"%>
    <%=f.number_field :price, step:"0.01"%>
  </div>
  
  <div class='form-group mb-3'> 
    <%=f.label :type_id, class: "form-label"%>
    <%=f.select :type_id, @types.map {|t| [t.name, t.id]}, class: "form-select"%>
  </div>

  <div class='form-group mb-3'> 
    <%@genders.each do |option|%>
      <%=f.label :gender_id, option.name, class: "form-label mr-1" %>
      <%=f.radio_button :gender_id, option.id, class:"mr-2"%>
    <%end%>
  </div>

  <div class='form-group mb-3'> 
    <%@sizes.each do |option|%>
      <%=f.label :size_id, option.name, class: "form-label mr-1" %>
      <%=f.radio_button :size_id, option.id, class:"mr-2"%>
    <%end%>
  </div>

  <div class='form-group mb-3'> 
    <%=f.label :suburb, class: "form-label"%>
    <%=f.text_field :suburb%>
  </div>

  <div class='form-group mb-3'>
    <%@states.each do |option|%>
      <%=f.label :state_id, option.name, class: "form-label mr-1" %>
      <%=f.radio_button :state_id, option.id, class:"mr-2"%>
    <%end%>
  </div>  

   <div class='form-group mb-3'> 
    <%=f.label :description, class: "form-label"%>
    <%=f.text_area :description, class: "form-control" %>
  </div>

<div class='actions'> 
   <%=f.submit%>
  </div>
<%end%>